# to keep it small, stuff that is
# already specified in init.vim
# like pack plugins/colors/etc
# which already have their own repo
# are ignored.

# pack plugins
pack/

# colors
colors/

# undodir
undo/

# lua plugins
lua/jet/

# misc
snip/
preamble.tex
.netrwhist

